blockquote { border: none; display: table; margin-bottom: 0; padding: 20px 10px; width: 100%;
  figure { display: table-cell; vertical-align: middle;
    .image { position: relative;
      img { @include border-radius(50%); height: 170px; width: 170px; }
    }
  }
  .cite { display: table-cell; vertical-align: middle; padding-left: 30px;
    p { @include opacity(1); color: $color-grey-medium; font-family: Georgia, serif; font-size: 24px; font-style: italic; line-height: 32px; }
    footer { color: $color-default; font-size: 24px; font-weight: bold; position: relative; margin-left: 20px; margin-bottom: -5px;
      &:before { content: ""; background-color: $color-grey-dark; display: block; height: 2px; position: absolute; width: 10px; top: 0; bottom: 0; margin: auto; left: -20px; }
    }
    figure { @include opacity(.5); padding-left: 20px; position: relative; }
  }
}
body { color: $color-grey-dark; font-size: 16px; height: 100%; margin: 0px; overflow-y: scroll !important; }

a { @include transition(.4s); color: $color-default;  outline: none !important;
  &:hover, &:active, &:focus { color: $color-grey-dark; outline: none !important; }
}

h1 { color: #fff; display: inline-block; font-size: 60px; font-weight: bold; margin: 0; padding: 10px 15px; position: relative;
  &:before { @include opacity(.9); background-color: $color-default; content: ""; left: 0; height: 100%; position: absolute; top: 0; width: 100%; z-index: -1; }
}
h2 { color: $color-grey-dark; font-size: 24px; font-weight: bold; margin-bottom: 40px; margin-top: 10px;
  a { color: $color-grey-dark; position: relative;
    &:after { @include transition(.8s); @include transition-timing-function(cubic-bezier(0.25,0,0,1)); background-color: $color-grey-dark; content: ""; left: 0; height: 2px; width: 100%; position: absolute; bottom: 0; }
    &:hover { color: $color-grey-dark; text-decoration: none;
      &:after { width: 0%; }
    }
    &:active, &:focus { color: $color-grey-dark; text-decoration: none;
      &:after { width: 100%; }
    }
  }
}
hr { margin-bottom: 10px; margin-top: 10px; }
p { @include opacity(.5); color: $color-grey-dark; font-size: 16px; line-height: 24px; }
